{% extends "index.html" %} 

{% block title %}Python Apps{% endblock %}

{% block content %}

   <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="https://lh3.googleusercontent.com/JmppHXMTQ_Dk4u1nA5ynD22Eiv0ptJhgVw77Rr6AeLwkIJxU5lJPwo2PGRrX3bcUeFEng6ZCj9HZCi6vXJ5Ybj6ucwS0THL9kGlTqNeyXfeD41jM1U9aT2R8OBkuNKRgX0-rKTj8gtAS58IYxOffdZehAmxLyi4hVIIaLIX1VRLPX4t9j6aJBxsp0Cvmwqcyt6qK2FvX-JRdBFci9sqNY8P4rfPUjohN7a0Z2exRIemKqtryaaH_V-gsII1-uV9FgTeWiG4dLt38zFFev21Ospq6eOu8_QPpnQhoj9YmZAX27DMZ5xC6RnfioAeLyNPLs5qMArNqMRRHn7IMiI8P83ycYoqpGGIDVJvwedgqz-wnqtS4LRo8rsoo4OToLQdbn2a1uf4uBl4BvSrTrq7ZxNYsSnlY4SebQSb2nE8Udew-sZxY73FUQY1FFLR2BZurzt4jnaWiYEyF4RRg6qB-EvvfeQNT2nVLc2wr8HomhrVfXMKPO7u4DCsVr9Rz7WI-oNiVOSjysPzkN0iIBOjvbNAcO9EF2gwCVJ2BAtxiD0Kv8JH2tQ_4S-CN2GXRJubiFDpX3T_cUh2DYv_zUnuw20rmHIGRqu9al1CemBLZcMe04Y3OaNT_Wt8Kzgy24-3DUeNvLLdygJjPv9HdmFG-5WlywPOGZJ-5qkKw-FPqydzWVlVpKrOEOcHQj86UTgc=w687-h915-no?authuser=0" alt="">
                    <div class="intro-text">
                        <h1 class="name">Simple Python Apps</h1>
                        <hr class="star-light">
                        <span class="skills">Let's Play!</span>
                    </div>
                </div>
            </div>
        </div>
    </header>




            <!-- Portfolio Grid Section -->
    
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Simple Python Apps</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                <h1>Addition</h1>
                    <a href="/add_numbers" target="_blank" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/static/img/add_preview.png" target="_blank" class="img-responsive" alt="Cabin">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                <h1>Shopping List</h1>
                    <a href="/shopping_list" target="_blank" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="https://vignette.wikia.nocookie.net/spongebob/images/9/9c/046b_-_One_Krabs_Trash_370.jpg/revision/latest/top-crop/width/360/height/450?cb=20150426132137" class="img-responsive" alt="Slice of cake">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                <h1>Current Time</h1>
                    <a href="/time" target="_blank" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/static/img/time_preview.png" class="img-responsive" alt="Circus tent">
                    </a>
                </div>      
            </div>
        </div>
    </section>

         <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2></h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <p>The languages I work with include: HTML, CSS & Python. I work with the Flask Framework for Python development. If you are a non technical person who would like control over your website then I can create a Wordpress website for you. Simplicity, creativity and clarity are the core principles behind my work.</p>
                </div>
            </div>
        </div>
    </section>

{% endblock%}

